<!DOCTYPE html>
<html>
  <head>
    <title>My Website</title>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_link_tag 'experience', media: 'all' %>

  </head>


  <body>


    <div class="page_title">
      <h1>Work Experience</h1>
    </div>


    <div class="job-icon">
      <img src="experience_images/logies.jpeg" alt="Logie's">
      <div class="job-info">
        <h2>Logie's on Mass, Lawrence, KS — Security <br>
            October 2022 - Current</h2>
        <ul>
          <li>Interact with roughly 1000 members of the public every shift</li>
          <li>Navigate stressful and chaotic situations in a calm and professional manner</li>
          <li>Communicate and collaborate efficiently with coworkers to maintain a safe environment for patrons</li>
        </ul>
      </div>
    </div>

    <div class="job-icon">
      <img src="experience_images/jersey_mikes.png" alt="Jersey Mike's">
      <div class="job-info">
        <h2>Jersey Mike's, Lenexa, KS — Cook, Cashier <br>
            March 2020 - August 2022</h2>
        <ul>
          <li>Delegated assignments as shift needs arose</li>
          <li>Handled first wave of customer relations in a busy environment</li>
          <li>Contributed to an organized workplace by being detail-oriented and providing customers with an excellent experience</li>
          <li>Maintained my own schedule</li>
        </ul>
      </div>
    </div>

    <div class="job-icon">
      <img src="experience_images/avena_freelance.png" alt="Avena Freelance">
      <div class="job-info">
        <h2>Avena Freelance Landscaping, Overland Park, KS — Co-Founder <br>
            Summer 2016 - October 2020</h2>
        <ul>
          <li>Created and maintained a network of weekly clients</li>
          <li>Utilized time management and organizational skills to meet deadlines</li>
        </ul>
      </div>
    </div>

    <div class = "links">
      <%= link_to 'Home', resume_path %>
      <%= link_to 'Contact Me', contact_me_path %>
      <%= link_to 'Education', education_path %>
      <%= link_to 'Projects', projects_path %>
      <%= link_to 'About Me', about_me_path %>
    </div>
</body>


</html>



