<body>
  <%= link_to 'Home', resume_path %>
  <%= link_to 'Contact Me', contact_me_path %>
  <%= link_to 'Education', education_path %>
  <%= link_to 'Projects', projects_path %>
  <%= link_to 'About Me', about_me_path %>

  <h4><em>WORK EXPERIENCE</em></h4>
    <div>
      Logie's on Mass, Lawrence, KS — Security <br>
      October 2022 - Current <br>
      <ul>
        <li>Interact with roughly 1000 members of the public every shift</li>
        <li>Navigate stressful and chaotic situations in a calm and professional manner</li>
        <li>Communicate and collaborate efficiently  with coworkers to maintain a safe environment for patrons</li>
      </ul>

      Jersey Mike's, Lenexa, KS — Cook, Cashier <br>
      March 2020 - August 2022 <br>
      <ul>
        <li>Delegated assignments as shift needs arose </li>
        <li>Handled first wave of customer relations in a busy environment </li>
        <li>Contributed to an organized workplace by being detail-oriented and providing customers with an excellent experience </li>
        <li>Maintained my own schedule </li>
      </ul>

      Avena Freelance Landscaping, Overland Park, KS — Co-Founder <br>
      Summer 2016 - October 2020 <br>
      <ul>
        <li>Created and maintained a network of weekly clients </li>
        <li>  Utilized time management and organizational skills to meet deadlines </li>
      </ul>
    </div>
</body>
