<body>
  <%= link_to 'Home', resume_path %>
  <%= link_to 'Contact Me', contact_me_path %>
  <%= link_to 'Experience', experience_path %>
  <%= link_to 'Projects', projects_path %>
  <%= link_to 'About Me', about_me_path %>

  <h4><em>EDUCATION</em></h4>
    <div>
      University of Kansas, Lawrence, KS — Computer Science<br>
      August 2021 - May 2025<br>
      <ul>
        <li>Pursuing a Bachelor's degree  in Computer Science</li>
        <li>Anticipated graduation date: May 2025</li>
      </ul>
      Olathe East High School, Olathe, KS<br>
      August 2017 - May 2021
    </div>
</body>