<!DOCTYPE html>
<html>
  <head>
    <title>My Website</title>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_link_tag 'about_me', media: 'all' %>

  </head>


  <body>

    <div class="page_title">
        <h1>About Me</h1>
    </div>


    <div class="main_content">
      <div class="section">
        <h2 class="section_header">Honors</h2>
          <div class ="subsection_header">
            University of Kansas
          </div>
            <div class = "subsection_content">
              <p>School of Engineering Chancellor's Scholarship<p>
              <p>Honor Roll Fall/Spring 2022<p>
            </div>
<br>
          <div class = "subsection_header">
            Olathe East High School
          </div>
            <div class = "subsection_content">
              <p>4 year Honor Roll student<p>
              <p>2021 Most Outstanding Male Athlete<p>
              <p>Recipient of the "Seal of Biliteracy" for Spanish<p>
            </div>
      </div>


      <div class="section">
        <h2 class="section_header">Extracurriculars</h2>
          <div class = "subsection_header">
            Ground Theory Brazilian Jiu Jitsu
        </div>
          <div class = "subsection_content">
              <p>Current extra-curricular activity<p>
          </div>
<br>
        <div class = "subsection_header">
          Olathe East High School
        </div>
          <div class = "subsection_content">
            <p>Varsity Wrestler and team captain, 3x State Qualifier, 1x 3rd place State Placer<p>
            <p>Varsity Football player and team captain<p>
          </div>
<br>
        <div class = "subsection_header">
          Boy Scouts of America
        </div>
          <div class = "subsection_content">
            <p>8 year participant<p>
          </div>

      </div>
    </div>


      <div class = "links">
        <%= link_to 'Home', resume_path %>
        <%= link_to 'Contact Me', contact_me_path %>
        <%= link_to 'Experience', experience_path %>
        <%= link_to 'Education', education_path %>
        <%= link_to 'Projects', projects_path %>
      </div>

  </body>


</html>

