<body bgcolor = #ABD5CC>
  <h1>Jaxon Avena</h1>
  <h3>Studying Computer Science at the University of Kansas</h3>
  <hr>

  <%= link_to 'Contact Me', contact_me_path %>
  <%= link_to 'Experience', experience_path %>
  <%= link_to 'Education', education_path %>
  <%= link_to 'Projects', projects_path %>
  <%= link_to 'About Me', about_me_path %>

</body>



