<body bgcolor = #ABD5CC>
  <%= link_to 'Home', resume_path %>
  <%= link_to 'Experience', experience_path %>
  <%= link_to 'Education', education_path %>
  <%= link_to 'Projects', projects_path %>
  <%= link_to 'About Me', about_me_path %>

  <div>
  jaxonavena@gmail.com <br>
  LinkedIn - Jaxon Avena <br>
  Github - jaxonavena <br>
  </div>


</body>